  #myCarousel{
      display: flex;
      max-width: 1180px;
      padding: 1rem;
    }
  li {
      display: flexbox;
      list-style-type: none;
  
    }
    h4{
      background: var(--shape);
      padding: 10px;
      border-radius: 10px;
      text-align: center;
    }
    img{
      width: 1180px;
      height: 780px;
    }

  