header {
  width: 100vw;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  z-index: 2;
}

header > div {
  color: var(--white);
  height: 5rem;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

header h1 {
  color: var(--primary);
  font-style: italic;
}

#navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header nav {
  display: flex;
  gap: 1rem;
  margin-top: 7px;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: var(--white);
  transition: all 0.2s ease-in-out;
  font-weight: 600;
}

a:active {
  color: red;
}

header nav a:hover {
  color: var(--primary);
}

#subscribe {
  padding: 0.5rem 1rem;
  background: var(--primary);
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

#subscribe:hover {
  filter: brightness(0.8);
}

@media (max-width: 720px) {
  header h1 {
    display: none;
  }

  #subscribe {
    display: none;
  }
}
