.pessoa__funcao {
    text-transform: lowercase;
    color: #595959;
    font-size: 1.25rem;
}

.pessoa_imagem {
    margin: 0 auto;
    width: 100%;  
    height: 100%; 
    object-fit: cover;
    object-position: top-center;
}

.pessoa_img_conteiner{
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.pessoa__nome {
    margin: 1rem 0;
    color: whitesmoke;
    font-size: 2rem;
    height: 4rem;
    margin-bottom: 1rem;
}


.pessoa {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}



@media screen and (min-width: 0){
    .pessoa {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768){
    .pessoa {
        margin-bottom: 0;
    }
}

.pessoas {
    display: grid;
    padding-top: 10rem;
    grid-template-columns: repeat(7,1fr);
    gap: 1rem;
}

@media (max-width: 1180px){
    .pessoas {
        grid-template-columns: repeat(5,1fr);

    }
}
@media (max-width: 878px){
    .pessoas {
        grid-template-columns: repeat(4,1fr);

    }
}

@media (max-width: 768px){
    .pessoas {
        grid-template-columns: repeat(3,1fr);

    }
}

@media (max-width: 512px){
    .pessoas {
        grid-template-columns: repeat(1,1fr);

    }
}

@media screen and (min-width: 0){
    .pessoas {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px){
    .pessoas {
        flex-direction: row;
    }
}

.quem-somos__descricao {
    font-weight: 300;
    font-size: 1.75rem;
    color: #ffffff;
}

.quem-somos__titulo {
    margin-bottom: 1rem;
    color: #ffffff;
    font-size: 3.1875rem;
}

.quem-somos {
    
    text-align: center;
    padding-top: 3rem;
}


@media screen and (min-width: 0) {
    .logo {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        display: block;
    }
}

body {   
    font-family: Gotham, sans-serif;
}

h1, h2, h3, h4, h5, h6 {    
        margin: 0;
    padding: 0;
}


.rodape {
    background-color: #2a2c35d7;
    color: #fdfdfd;
    text-align: center;
    padding: 2rem 5rem;
    margin-top: 1rem;
    text-transform: lowercase;
}