.containersaude {
  max-width: 1180px;
  padding: 1rem;
  margin: 0 auto;
}

.containersaude img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  margin: 1rem 0 1rem 0;
}

.fas:hover,
.fa-paw:hover {
  color: #ffaf5f;
}
