.gridsaude img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.gridsaude {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 1180px;
}

.span-col-4 {
  grid-column: span 4 / auto;
}

.span-col-3 {
  grid-column: span 3 / auto;
}

.gridsaude p {
  margin-bottom: 1rem;
  text-align: justify;
}

.gridsaude li {
  padding-bottom: 1rem;
  margin-left: 2rem;
}

.gridsaude {
  margin: 2rem;
}
